

.menu-container {
    align-content: center;
    background-color: #45494b;
    color: azure;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    height: 3rem;
    justify-content: space-around;
}
.menu-container a {
    align-items: center;
    border-radius: .3rem;
    color: aliceblue;
    display: flex;
    height: 100%;
    padding: .6rem;
    transition: .3s ease-in-out ;

}

.menu-container a:hover{
    background-color: #0a0a0a;
    height: 100%;
}